route:
  group_by: ['alertname', 'job']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: 'email-notifications'

receivers:
  - name: 'email-notifications'
    email_configs:
      - to: '{{ alerting_email }}'
        from: '{{ alerting_email }}'
        smarthost: '{{ alerting_smtp }}'
        auth_username: '{{ alerting_email }}'
        auth_password: "{{ alerting_password }}"
        require_tls: true

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'instance']
